<div class="container">
  <div class="row">
    <div class="mx-auto col-10 col-sm-10 col-lg-8 col-xl-6 p-5">
      <h2>Sign up</h2>
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName" %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail" %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword" %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputConfirmPassword" %>
      </div>
      <div class="actions">
        <%= f.submit "Sign up", class:"btn btn-success" %>
      </div>
      <% end %><br>
      <%= link_to "Log in", new_user_session_path %>
    </div>
  </div>
</div>

