<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-ms-0 mx-auto">
      <h2>User info</h2>
      <%= form_with model: @user do |f| %>
        <div class="form-group">
          <label for="inputName">Name</label><br>
          <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"inputName"%>
        </div>
        <div class="form-group">
          <label for="inputImage">ProfileImage</label>
          <%= f.file_field :profile_image, placeholder: "inputImage", accept: "image/*" %>
        </div>
        <div class="form-group">
          <label for="inputIntroduction">Introduction</label>
          <%= f.text_area :introduction, autofocus: true, id:"user_introduction", placeholder:"inputIntroduction"%>
          <%= f.submit "Update User" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
