<div id="notice">
  <%= flash[:notice] %>
</div>

<div class="container p-3 px-5 px-sm-0">
  <%= render 'list', book: @book, user: @user %>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <table class="table ">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Body</th>
          </tr>
        </thead>

        <tbody>
          <tr>
          <% @books.each do |book| %>
             <!-- <%= image_tag book.user.get_profile_image(100,100) %> -->
            <td>
              <%= link_to user_path(book.user.id) do %>
                <% image_tag book.user.get_profile_image(100,100) %>
              <% end %>
            </td>
            <td><%= link_to book.title, "/books/#{book.id}" %></td>
            <td><%= book.body %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
